@import './app/style/config.scss';

// global stylings 
* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: set-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.root {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    &.no-hyphens {
        -moz-hyphens: none;
        -o-hyphens: none;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
}

.lg-heading {
    font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary-color, 20%), 0.5);
}

a {
    color: set-color($primary-color);
    text-decoration: none;
    padding: 0.4rem;

    &.selected,
    &:hover {
        color: $secondary-color;
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

.main-area {
    padding: 4rem;
    min-height: get-total-height-without-footer();
    max-width: 1800px;
    margin: 0 auto;
}

section.main-area-section {
    margin-top: 5rem;
    margin-bottom: 2rem;

    >.title {
        display: flex;
        align-items: center;
        color: $secondary-color;

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 1rem;
            height: $section-title-img-height-lg;
            max-height: $section-title-img-height-lg;
            width: 20vw;
            min-width: 20vw;
            border-right: 2px solid;
            hyphens: none;

            p {
                hyphens: none;
            }
        }
    }

    &:not(:last-child) {
        padding-bottom: 5rem;
        border-bottom: 2px solid;
    }

    .image {
        height: $section-title-img-height-lg;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    gap: 5rem;
    align-items: end;
}

@media screen and (max-width: 1200px) {
    .content {
        gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {

    section.main-area-section>.title {

        .text,
        .image {
            height: $section-title-img-height-md;
        }
    }
}

@media screen and (max-width: 900px) {
    section.main-area-section {
        margin-top: 2rem;

        >.title {
            flex-direction: column;

            .text {
                height: 100%;
                width: 100%;
                padding: 1rem;
                border-bottom: 2px solid $secondary-color;
                border-right: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .content {
        gap: 3rem 0;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 550px) {
    .lg-heading {
        font-size: 2.2rem;
    }

    .sm-heading {
        font-size: 1.2rem;
    }

    .main-area {
        padding: 3rem 1rem 1rem 1rem;
    }
}