<div class="main-area" id="{{currentNavTarget}}">
    <h1 class="lg-heading">Deine&nbsp;<span class="text-secondary">Fans</span></h1>
    <h2 class="sm-heading">Du wirst 30 - und wir schenken mit!</h2>
    <section class="image">
        <div class="img-container"></div>
    </section>
    <section class="main-area-section fans">
        <div class="title">
            <h2 class="text">
                <p>Individuelle Geburtstagsgr&uuml;&szlig;e</p>
            </h2>
            <div class="image">
            </div>
        </div>
        <div class="content" *ngIf="fans">
            <div class="fan" *ngFor="let fan of fans">
                <div class="fan-img-container">
                    <img [src]="getImgSrc(fan)" alt="{{fan.name}}">
                </div>
                <div class="text-wrapper">
                    <h3>{{ fan.name }}</h3>
                    <p>{{ fan.text}}</p>
                </div>
            </div>
        </div>
    </section>
</div>