@import '../../style/config.scss';

.fans .image {
    background-image: url(../../../assets/images/presents.jpg);
}

.content {
    grid-template-columns: repeat(4, 1fr);
}

.fan {
    .fan-img-container {
        padding: 1rem;
        background-color: #000;
        display: flex;
        justify-content: center;
    }

    img {
        max-width: 100%;
        height: auto;
        max-height: 450px;
    }

    .text-wrapper {
        border-bottom: 1px solid $secondary-color;
        background-color: rgba(lighten($primary-color, 20%), 0.5);
        padding: 1rem;
        margin: 0;
        max-height: 450px;
        overflow-y: auto;

        h3 {
            font-weight: bold;
        }

        p {
            text-align: justify;
        }
    }
}

@media screen and (max-width: 1500px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .content {
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .content {
        gap: 3rem 0;
        grid-template-columns: 1fr;
    }

    .fan {
        img {
            max-height: 380px;
        }

        .text-wrapper {
            max-height: none;
        }
    }
}