<div class="main-area" id="{{currentNavTarget}}">
    <h1 class="lg-heading">Auf&nbsp;<span class="text-secondary">dich!</span></h1>
    <h2 class="sm-heading">Lass uns einen auf dich heben, du hast es verdient.</h2>
    <section class="main-area-section drinks-on-you">
        <div class="title">
            <h2 class="text">
                <p>{{reasons.length}} Gr&uuml;nde, warum man dich feiern sollte</p>
            </h2>
            <div class="image">
            </div>
        </div>
        <div class="content-img-wrapper">
            <div class="content about-content" *ngIf="reasons">
                <div class="reason" *ngFor="let reason of reasons; let idx = index">
                    <i class="fa-solid fa-star"><span class="counter">{{idx + 1}}</span></i>
                    <p>{{reason}}</p>
                </div>
            </div>
            <div class="img-container">
                <img src="assets/images/partyhard1.jpg" alt="">
            </div>
        </div>
    </section>
</div>