@import '../../style/config.scss';

.drinks-on-you .image {
    background-image: url(../../../assets/images/drinks.jpg);
}

.reason {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
    background-color: rgba(lighten($primary-color, 20%), 0.5);
    padding: 0 1rem;

    i {
        position: relative;
        color: $secondary-color;
        padding-right: 1rem;
        font-size: 1.5rem;
    }

    .counter {
        position: absolute;
        font-size: 0.7rem;
        color: #000;
        left: -0.5rem;
        top: 0.1rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content-img-wrapper {
    display: flex;
    gap: 5rem;
}

.img-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 450px;

    img {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .content-img-wrapper {
        gap: 3rem;
    }

    .img-container {
        max-width: 400px;
    }

    .about-content {
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1150px) {
    .content-img-wrapper {
        gap: 2rem;
    }

    .img-container {
        max-width: 350px;
    }

    .about-content {
        gap: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .content-img-wrapper {
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        max-width: 450px;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 750px) {
    .about-content {
        gap: 3rem 0;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .img-container {
        max-width: 350px;
    }
}