<div class="root">
  <header>
    <div class="menu-btn" (click)="toggleMenu()" [ngClass]="{'show': !menuClosed }">
      <div class="menu-btn-line"></div>
      <div class="menu-btn-line"></div>
      <div class="menu-btn-line"></div>
    </div>

    <nav class="menu" [ngClass]="{'show': !menuClosed }">
      <ul class="menu-nav" [ngClass]="{'show': !menuClosed }">
        <li class="menu-nav-item" *ngFor="let item of navItems">
          <a routerLink="/{{ item.linkTarget }}" class="nav-link"
            [ngClass]="{'selected': item.active, 'show': item.visible }">{{ item.name
            }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet (activate)="onUpdateNavItems($event)"></router-outlet>
  </main>
  <app-footer [navItems]="navItems"></app-footer>
</div>