@import './style/config.scss';

$menu-width: 40vw;
$menu-min-width: 280px;
$menu-slide: 50vw;

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 2.5rem;
    top: 2.5rem;
    cursor: pointer;
    @include ease-out;

    &-line {
        width: 2.3rem;
        height: 3px;
        margin-bottom: 6px;
        background-color: set-color($primary-color);
        border-radius: 5px;
        @include ease-out;
    }

    &.show {
        transform: rotate(180deg);

        .menu-btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(0.5rem, 0.4rem);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(0.35rem, -0.3rem);
            }
        }
    }
}


nav.menu {
    position: fixed;
    top: 0;
    right: -$menu-slide;
    width: 0;
    min-width: $menu-min-width;
    height: 100%;
    background-color: rgba(darken($primary-color, 10), 0.95);
    font-size: 2rem;
    @include ease-out;

    &.show {
        right: 0;
        width: $menu-width;
    }

    .menu-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        row-gap: 1.5rem;
        padding: 0;

        &-item {
            list-style-type: none;
            width: 100%;
            display: flex;
            justify-content: center;

            .nav-link {
                opacity: 0;
                transform: translateX($menu-width);
                @include ease-out;

                &.show {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    nav.menu {
        right: -$menu-min-width;
        font-size: 1.3rem;

        .menu-nav {
            row-gap: 1rem;
        }
    }
}