@import '../../style/config.scss';

.footer {
    height: $footer-height;
    padding: 0.5rem;
    background-color: rgba(darken($primary-color, 10), 0.95);
}

.footer-nav {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    width: 100%;
    padding: 0 0.1rem;
}

a.nav-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 0.2rem;
}

@media screen and (max-width: 670px) {
    .linkname {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 550px) {
    .linkname {
        display: none;
    }

    .linkicon {
        font-size: 1.3rem;
    }
}