<footer *ngIf="navItems">
    <nav class="footer">
        <ul class="footer-nav">
            <li class="nav-item" *ngFor="let item of navItems">
                <a routerLink="/{{ item.linkTarget }}" class="nav-link" [ngClass]="{'selected': item.active }">
                    <span class="linkicon"><i [ngClass]="[item.icon[0], item.icon[1]]"></i></span>
                    <span class="linkname">{{ item.name }}</span>
                </a>
            </li>
        </ul>
    </nav>
</footer>