<div class="main-area" id="{{currentNavTarget}}">
    <h1 class="lg-heading">Deine&nbsp;<span class="text-secondary">St&auml;rken</span></h1>
    <h2 class="sm-heading">Was dich ausmacht und wieso du unser Golden Boy bist.</h2>
    <section class="main-area-section skills">
        <div class="title">
            <h2 class="text">
                <p>Kompetenzen, F&auml;higkeiten und Qualifikationen</p>
            </h2>
            <div class="image">
            </div>
        </div>
        <div class="content" *ngIf="skills">
            <div class="skill" *ngFor="let skill of skills">
                <div class="skill-content-wrapper">
                    <h3 class="skill-title">{{ skill.name }}</h3>
                    <p class="skill-desc">{{ skill.description }}</p>
                    <div class="level">
                        <span class="level-indicator" [ngStyle]="{'width.%': skill.level }"></span>
                        <span class="legend">{{skill.level}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>