@import '../../style/config.scss';

.skills .image {
    background-image: url(../../../assets/images/skills.jpg);
}

.content {
    .skill-content-wrapper {
        border-left: 1px solid $secondary-color;
    }

    .skill-title {
        font-weight: bold;
    }

    .skill-desc {
        margin: 0;
        line-height: 1.2;
        padding-top: 0.2rem;
        font-style: italic;
    }

    .skill-title,
    .skill-desc {
        padding-left: 1rem;
    }

    .level {
        position: relative;
        margin-top: 1rem;
        background-color: $primary-color-lighter;
        width: 100%;
        height: 1.5rem;
        border-bottom: 1px solid $secondary-color;

        &-indicator {
            display: inline-block;
            background-color: $secondary-color;
            height: 100%;
        }

        .legend {
            position: absolute;
            right: 0.5rem;
            top: 100%;
            color: $secondary-color;
            font-size: 0.9rem;
        }
    }
}

.gs-content {
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.general-skill {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    .gs-icon {
        font-size: 5rem;
    }

    .gs-title {
        font-weight: bold;
    }
}