// colors
$primary-color: #222;
$primary-color-lighter: lighten($primary-color, 10%);
$font-color-light: #f8f8f8;
$secondary-color: #eece1a;

// global variables
$footer-height: 10vh;

$section-title-img-height-lg: 35vh;
$section-title-img-height-md: 25vh;
$section-title-img-height-sm: 15vh;

// mixins
@mixin ease-out {
  transition: all 200ms ease-out;
}

// functions
@function set-color($color) {
  @if(lightness($color) > 40) {
    @return #222;
  }

  @else {
    @return #f8f8f8;
  }
}

@function get-total-height-without-footer() {
  @return 100vh - $footer-height;
}