@import '../../style/config.scss';

.wish .image {
    background-image: url(../../../assets/images/wishes.jpg);
}

.text-img-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.text-content {
    p:not(.lg-center) {
        text-align: justify;
    }
}

.lg-center {
    text-align: center;
}

.deco-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    margin: 2rem 0;
    justify-content: center;

    .icon {
        font-size: 4rem;
        padding: 1rem 2rem;
        color: $secondary-color;
    }

    .text p {
        text-align: center;
    }
}

.img-grid {
    display: grid;
    gap: 1rem;
    max-width: 50%;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 10px 2px;
    padding: 1rem;

    .img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .text-img-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .img-grid {
        max-width: 900px;
    }
}

@media screen and (max-width: 550px) {

    .img-grid {
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .deco-wrapper {
        flex-direction: column;
        gap: 0;
    }
}