<div class="main-area" id="{{currentNavTarget}}">
    <h1 class="lg-heading">Alles&nbsp;<span class="text-secondary">Gute</span></h1>
    <h2 class="sm-heading">Was wir dir zu deinem Geburtstag w&uuml;nschen.</h2>
    <section class="main-area-section wish">
        <div class="title">
            <h2 class="text">
                <p>Unsere Herzlichen Gl&uuml;ckw&uuml;nsche</p>
            </h2>
            <div class="image">
            </div>
        </div>
        <div class="text-img-wrapper">
            <div class="text-content">
                <h2 class="no-hyphens lg-center">Astro, Golden Boy, Astronautovic, Arndt oder einfach Michi... </h2>
                <p class="lg-center">wie auch immer dich deine Freunde nennen wollen, eines haben wir gemeinsam:</p>
                <div class="deco-wrapper">
                    <div class="icon">
                        <i class="fa-solid fa-cake-candles"></i>
                    </div>
                    <div class="text">
                        <p>Wir w&uuml;nschen dir zu deinem 30.Geburtstag von Herzen:</p>
                        <p><span class="text-secondary">Alles
                                Gute, viel Gesundheit, Gl&uuml;ck, Spa&szlig; am Leben</span></p>
                        <p>...und hoffen auf noch viele geile Partys und Erlebnisse mit dir!
                        </p>
                    </div>
                </div>
                <p>Dass du dich von der 3 vorne dran nicht aufhalten l&auml;sst, wei&szlig; jede und jeder, der schon
                    einmal
                    mit
                    dir um 5 Uhr nachts Pizza im ASV gemacht hat, von dir in der Bar zu Boden getackelt wurde oder deine
                    Performance zu <q>Breaking Free</q> miterleben durfte. Lass dir diese Motivation und Energie nicht
                    nehmen und ziehe dein Ding durch, wie du es schon immer gemacht hast.
                </p>
                <p>F&uuml;r deine Zukunft w&uuml;nschen wir dir viel Erfolg - egal ob auf der Arbeit, beim Sport oder
                    mit
                    den M&auml;dels. Hab weiterhin eine gute Zeit in M&uuml;nchen und genie&szlig; dein Leben zwischen
                    Dorfkind von fr&uuml;her und Schickeria-Boy der Gro&szlig;stadt.</p>
                <p>Wir freuen uns auf noch viele lustige Abende mit dir, spontane Trips nach M&uuml;nchen, gemeinsame
                    Urlaube, in denen wir <q>keine Termine und leicht einen sitzen</q> haben und vieles mehr.</p>
                <p>Lass dich heute an deinem Ehrentag ordentlich von uns feiern und bleib so wie du bist!</p>
                <h2 class="no-hyphens">Deine Freunde und Partypeople.</h2>
            </div>
            <div class="img-grid">
                <div class="img"><img src="assets/images/partyhard7.jpg" alt=""></div>
                <div class="img"><img src="assets/images/partyhard4.jpg" alt=""></div>
                <div class="img"><img src="assets/images/partyhard5.jpg" alt=""></div>
                <div class="img"><img src="assets/images/partyhard6.jpg" alt=""></div>
            </div>
        </div>
    </section>
</div>