@import './../../style/config.scss';

#home {
    padding-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .lg-heading,
    .sm-heading {
        text-align: center;
    }
}

$portrait-height: 40vh;

.portrait-container {
    height: $portrait-height;
    padding: 1rem;
    position: relative;

    .deko-img-bg {
        position: absolute;
        background-color: transparent;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        width: 80%;

        &::before {
            content: '';
            display: block;
            border-bottom: $portrait-height solid $secondary-color;
            border-right: 20vh solid transparent;
        }
    }

    .portrait {
        width: auto;
        height: 100%;
        border-radius: 5%;
        border: 1px solid $primary-color;
    }
}

.background {
    background-image: url(./../../../assets/images/background.jpg);
    height: get-total-height-without-footer();
    width: 100%;
    z-index: -1;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;

    &:after {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-color, 0.9);
    }
}


@media screen and (max-width: 550px) {

    #home {
        padding-top: 7vh;
    }

    $portrait-height: 30vh;

    .portrait-container {
        padding: 0.5rem;
        height: $portrait-height;

        .deko-img-bg::before {
            border-bottom: $portrait-height solid $secondary-color;
            border-right: 10vh solid transparent;
        }

        .menu-nav {
            row-gap: 1rem;
        }
    }
}