<div class="background"></div>
<div class="main-area" id="{{currentNavTarget}}">
    <div class="portrait-container">
        <div class="deko-img-bg"></div>
        <img src="assets/images/portrait.jpg" alt="Portrait IMG" class="portrait">
    </div>
    <div class="text-container">
        <h1 class="lg-heading">Happy <span class="text-secondary">Birthday!</span></h1>
        <h2 class="sm-heading">Michi Arndt - Golden Boy</h2>
    </div>
</div>